// primary color
$fontColor:  #252326;
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


@mixin backgroundImg {
  @if $show-home-img {
    &.section__one-img {
      background-repeat: no-repeat;
      background-size: 60rem;
      background-origin: content-box;
      background-position-y: -12.5rem;
    }
  }
}

$show-home-img: true;
$home-img: url('../images/bg-intro-desktop.svg');

// @mixin dk-section-img {
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='860' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3cpath d='M720 672.7C823.8 673.38 920.33 627.07 995.88 555.88 1074.01 482.27 1128.51 387.03 1136.81 280 1145.78 163.99 1121.68 42.78 1042.18-42.18 960.52-129.46 839.54-164.79 720-165.43 599.74-166.08 470.75-138.54 394.28-45.72 321.93 42.07 342.91 166.68 353 280 361.88 379.48 379.46 479.34 447.66 552.34 518.11 627.72 616.81 672.02 720 672.7' fill='rgba(231%2c 246%2c 248%2c 0.5)'%3e%3c/path%3e%3cpath d='M720 534.1C787.17 534.54 849.62 504.58 898.51 458.51 949.06 410.88 984.33 349.26 989.7 280 995.51 204.94 979.91 126.51 928.47 71.53 875.63 15.05 797.35-7.8 720-8.22 642.19-8.64 558.72 9.18 509.24 69.24 462.42 126.04 476 206.67 482.53 280 488.27 344.37 499.65 408.99 543.78 456.22 589.36 504.99 653.23 533.66 720 534.1' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M720 395.5C750.53 395.7 778.92 382.08 801.14 361.14 824.12 339.49 840.15 311.48 842.59 280 845.23 245.88 838.14 210.23 814.76 185.24 790.74 159.57 755.16 149.18 720 148.99 684.63 148.8 646.69 156.9 624.2 184.2 602.92 210.02 609.09 246.67 612.06 280 614.67 309.26 619.84 338.63 639.9 360.1 660.62 382.27 689.65 395.3 720 395.5' fill='rgba(231%2c 246%2c 248%2c 0.74)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-origin: content-box;
//   // background-position-y: -20rem;
// }

@mixin apply-section-img {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1020'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1022'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1017'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1021'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1018'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1019'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1023'%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='90' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='90' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='210' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='210' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='270' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='270' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='270' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='270' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='330' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='330' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='390' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='450' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='450' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='450' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='510' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='570' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='570' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='570' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='630' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='690' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='690' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='690' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-origin: content-box;
  // background-position-y: -20rem !important;
}

@mixin smCircle {
  background-color: #FFFFFF; 
  border-radius: 150px; 
  border-top: 40px solid #E7F6F8; 
  border-left: 40px solid #E7F6F8; 
  border-right: 40px solid #E7F6F8; 
  border-bottom: 40px solid #E7F6F8;
}

@mixin mdCircle {
  background-color: #FFFFFF; 
  border-radius: 200px; 
  border-top: 50px solid #E7F6F8; 
  border-left: 50px solid #E7F6F8; 
  border-right: 50px solid #E7F6F8; 
  border-bottom: 50px solid #E7F6F8; 
}

@mixin bgCircle {
  background-color: #FFFFFF; 
  border-radius: 270px; 
  border-top: 50px solid #E7F6F8; 
  border-left: 50px solid #E7F6F8; 
  border-right: 50px solid #E7F6F8; 
  border-bottom: 50px solid #E7F6F8; 
}

@mixin easeIn {
  transition: all 0.6s ease-in-out;
}

@mixin button {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  min-width: 120px;
  color: $fontColor;
  text-align: center;
  box-shadow: 0px 1px 12px 0px #a7a7a7b5;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    @include easeIn
  }
}

@mixin bigButton {
  @include button();
  min-width: 200px;
  padding: 20px 20px;
}

@mixin signin {
  @include button();
  &:hover {
    @include easeIn;
    .fa-long-arrow-alt-right {
      display: inline-block;
      margin-left: 5px;
    }
    .fa-user {
      display: none;
    }
  }
  .fa-user {
    margin-right: 5px;
  }
  .fa-long-arrow-alt-right {
    display: none;
  }
}


@mixin hamburger {
  width: 30px;
  height: 3px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(77, 77, 77, 0.2);
    transition: all .5s ease-in-out;
  }
  &::before {
    transform: translateY(-10px);
  }
  &::after {
    transform: translateY(10px);
  }
}

@mixin x-lg__text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

@mixin lg__text {
  font-size: 20px;
  font-weight: normal;
  color: $fontColor;
  line-height: 50px;
}

@mixin md__text {
  font-size: 18px;
  font-weight: normal;
  color: $fontColor;
}

@mixin sm__text {
  font-size: 16px;
  font-weight: bold;
  color: $fontColor;
  line-height: 25px;
}

@mixin x-sm__text {
  font-size: 14px;
  font-weight: normal;
  color: $fontColor;
  line-height: 25px;
}

@mixin mediaXm {
  @media screen and (max-width: 500px){
    @content;
  }
}

@mixin mediaSd {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 768px) and (max-width: 1171px){
    @content;
  }
}

@mixin mediaLg {
  @media screen and (max-width: 900px){
    @content;
  }
}

@mixin altMd {
  @media screen and (min-width: 640px) and (max-width: 768px){
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1178px){
    @content;
  }
}