.fourth__section {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(.1);
  }
  .wrapper {
    width: 80%;
    height: 100%;
    padding: 7rem 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .fourth__section-head {
      padding-top: 3rem;
      
      p {
        color: #c13354 !important;
        @include md__text;
      }
      
      h1 {
        @include x-lg__text;
        font-size: 30px;
        line-height: 43px;
        margin-top: 1rem;
        color: white;
      }
    }

    .fourth__section-body {
      p {
        color: white;
      }
      .fa-check-circle {
        font-size: 30px;
        color: white;
      }
    }
  }
  

}

@include mediaXm {

  .fourth__section {
    img {
      height: 130vh !important;
    }
  }
  .fourth__section-head {

    p {
      @include md__text;
      font-size: 18px;
    }
    
    h1 {
      font-size: 25px;
    }
  }

  .fourth__section-body {
    margin-top: 1rem;
    p {
      font-size: 16px;
    }
    .fa-check-circle {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1024px){

  .fourth__section {
    .wrapper {
      padding-top: 8rem;
      .fourth__section-head {
        h1 {
          font-size: 40px !important;
          line-height: 50px !important;
        }
      }
    }
  }


}