.hero {
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;
  .wrapper {
    width: 85%;
    height: 100%;
    .hero__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-top: 4em;
      h1 {
        @include x-lg__text
      }

      .items__btn {
        justify-content: left;
        padding: 23px 25px !important;
        @include button;
        box-shadow: 0px 1px 12px 0px rgba(167, 167, 167, 0.71);
      }
    }

    .hero__img {
      width: 100%;
      height: 100%;
      img {
        border-radius: 10px;
        margin: 0 0 0 auto;
      }
    }
  }
}


@media screen and (min-width: 500px)  {
  .loan-cal {
    width: 380px !important;
    margin : 5rem auto 5rem auto !important;
  }
}

@include mediaXm {
  .loan__cal {
    width: 300px !important;
  } 
}

@include mediaSd {
  .hero {
    .hero__img {
      margin-top: 4rem;
      clear: both;
      img {
        margin: 0 auto !important;
      }
    }
  }
}

@include mediaMd {
  .hero__info {
    padding-top: 4em;
  }
}

@include mediaXl {
  .hero__info {
    padding: 6rem 0rem 0rem 0rem !important;
  }
}