@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  padding: 1.4rem 3rem;
  width: 100%;
  height: 100%;
}

.header .header__brandLogo img {
  height: 60px;
  vertical-align: middle;
}

.header .header__navigations .navigations__list-items {
  list-style: none;
  position: relative;
}

.header .header__navigations .navigations__list-items .items__links {
  display: inline;
}

.header .header__navigations .navigations__list-items .items__links a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 10px 5px;
  margin-right: 20px;
  text-decoration: none;
  color: #252326;
}

.header .header__navigations .navigations__list-items .items__links .items__btn {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  min-width: 120px;
  color: #252326;
  text-align: center;
  box-shadow: 0px 1px 12px 0px #a7a7a7b5;
  cursor: pointer;
}

.header .header__navigations .navigations__list-items .items__links .items__btn:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.header .header__navigations .navigations__list-items .items__links .items__btn:hover {
  transition: all 0.6s ease-in-out;
}

.header .header__navigations .navigations__list-items .items__links .items__btn:hover .fa-long-arrow-alt-right {
  display: inline-block;
  margin-left: 5px;
}

.header .header__navigations .navigations__list-items .items__links .items__btn:hover .fa-user {
  display: none;
}

.header .header__navigations .navigations__list-items .items__links .items__btn .fa-user {
  margin-right: 5px;
}

.header .header__navigations .navigations__list-items .items__links .items__btn .fa-long-arrow-alt-right {
  display: none;
}

.mobile-navigations {
  display: none;
}

@media screen and (max-width: 900px) {
  header {
    position: relative;
    z-index: 10;
    padding: 1.5rem 2.5rem !important;
  }
  header .header__navigations {
    display: none;
  }
  header .header__menu-btn {
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 45px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 2px solid transparent;
  }
  header .header__menu-btn .menu-btn__burger {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
  }
  header .header__menu-btn .menu-btn__burger::before, header .header__menu-btn .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(77, 77, 77, 0.2);
    transition: all .5s ease-in-out;
  }
  header .header__menu-btn .menu-btn__burger::before {
    transform: translateY(-10px);
  }
  header .header__menu-btn .menu-btn__burger::after {
    transform: translateY(10px);
  }
  header .open .menu-btn__burger {
    transform: translateX(-30px);
    background: transparent;
    box-shadow: none;
  }
  header .open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  header .open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .mobile-navigations {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background: wheat;
    z-index: 9;
    padding: 0rem 2.3rem;
    transform: translate3d(0, 100%, 0);
    transition: all 0.6s ease-in-out;
  }
  .mobile-navigations.show {
    display: block;
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-in-out;
  }
  .mobile-navigations .wrapper {
    margin: 7rem 2rem 4rem 2rem;
    width: 100%;
    height: 100%;
  }
  .mobile-navigations .wrapper .mobile-navigations__address h1,
  .mobile-navigations .wrapper .mobile-navigations__contact h1 {
    font-size: 16px;
    font-weight: bold;
    color: #252326;
    line-height: 25px;
    margin: 1rem 0rem 0.5rem 0rem;
  }
  .mobile-navigations .wrapper .mobile-navigations__address p,
  .mobile-navigations .wrapper .mobile-navigations__contact p {
    margin-bottom: 0.3rem;
    font-size: 14px;
    font-weight: normal;
    color: #252326;
    line-height: 25px;
  }
  .mobile-navigations .wrapper .mobile-navigations__address a,
  .mobile-navigations .wrapper .mobile-navigations__contact a {
    text-decoration: none;
    color: #c13354 !important;
    font-size: 14px;
    font-weight: normal;
    color: #252326;
    line-height: 25px;
  }
  .mobile-navigations .wrapper .mobile-navigations__address .tel,
  .mobile-navigations .wrapper .mobile-navigations__contact .tel {
    display: flex;
    flex-direction: column;
  }
  .mobile-navigations .wrapper .mobile-navigations__address .fa-long-arrow-alt-right,
  .mobile-navigations .wrapper .mobile-navigations__contact .fa-long-arrow-alt-right {
    vertical-align: middle;
  }
  .mobile-navigations .wrapper .mobile-navigations__address .break-line,
  .mobile-navigations .wrapper .mobile-navigations__contact .break-line {
    display: block;
    width: 35px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    margin-top: 2rem;
  }
  .mobile-navigations .mobile-navigations__nav-links {
    margin-top: 1.8rem;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .link {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #252326;
    line-height: 50px;
    font-weight: 600;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 5px;
    min-width: 120px;
    color: #252326;
    text-align: center;
    box-shadow: 0px 1px 12px 0px #a7a7a7b5;
    cursor: pointer;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn:hover {
    transition: all 0.6s ease-in-out;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn:hover .fa-long-arrow-alt-right {
    display: inline-block;
    margin-left: 5px;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn:hover .fa-user {
    display: none;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn .fa-user {
    margin-right: 5px;
  }
  .mobile-navigations .mobile-navigations__nav-links nav .items__btn .fa-long-arrow-alt-right {
    display: none;
  }
  .mobile-navigations .mobile-navigations__social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
  }
  .mobile-navigations .mobile-navigations__social-icon .icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #202020;
    box-shadow: 7px 12px 54px -27px rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #252326;
    line-height: 32px;
    font-size: 14px;
    margin-right: 20px;
  }
  .mobile-navigations .mobile-navigations__social-icon .icon:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
  }
}

@media screen and (min-width: 1178px) {
  .header {
    padding: 1.5rem 6rem !important;
  }
  .header .header__brandLogo img {
    height: 70px;
  }
}

.hero {
  width: 100%;
  height: 100%;
  padding: 3rem 0rem 6rem 0rem;
}

.hero .wrapper {
  width: 85%;
  height: 100%;
}

.hero .wrapper .hero__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto 0;
}

.hero .wrapper .hero__info h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

.hero .wrapper .hero__info .items__btn {
  justify-content: left;
  padding: 23px 25px !important;
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  min-width: 120px;
  color: #252326;
  text-align: center;
  box-shadow: 0px 1px 12px 0px #a7a7a7b5;
  cursor: pointer;
  box-shadow: 0px 1px 12px 0px rgba(167, 167, 167, 0.71);
}

.hero .wrapper .hero__info .items__btn:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.hero .wrapper .Apply__loan-cal {
  width: 100%;
  height: 100%;
}

.hero .wrapper .Apply__loan-cal .loan-cal {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  padding: 3% 7% 8% 7%;
  box-shadow: 0px 1px 12px 0px rgba(167, 167, 167, 0.71);
  border-radius: 5px;
  z-index: 5;
  left: 0;
  margin: 5rem 0rem;
}

.hero .wrapper .Apply__loan-cal .loan-cal .loan__cal-head {
  padding: 0.5rem 0rem;
  font-size: 20px;
  font-weight: normal;
  color: #252326;
  line-height: 50px;
  font-weight: 700;
}

.hero .wrapper .Apply__loan-cal .loan-cal .form-group__head {
  margin-bottom: 0rem;
}

.hero .wrapper .Apply__loan-cal .loan-cal .form-group__head h3 {
  font-size: 18px;
  font-weight: normal;
  color: #252326;
  font-weight: 500;
}

.hero .wrapper .Apply__loan-cal .loan-cal .form-group__head p {
  font-size: 20px;
  font-weight: normal;
  color: #252326;
  line-height: 50px;
  font-size: 25px;
  font-weight: 700;
}

.hero .wrapper .Apply__loan-cal .loan-cal .range-slider {
  height: 60px;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px 4px 0 4px;
  align-items: center;
  justify-content: center;
}

.hero .wrapper .Apply__loan-cal .loan-cal .range-slider .sliderValue {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  line-height: 30px;
}

.hero .wrapper .Apply__loan-cal .loan-cal .range-slider input {
  -webkit-appearance: none;
  height: 4px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.hero .wrapper .Apply__loan-cal .loan-cal .range-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background: #5f5ff5;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .loan-cal {
    width: 400px !important;
    height: 580px !important;
    margin: 5rem auto !important;
  }
}

@media screen and (min-width: 1024px) {
  .loan-cal {
    margin: 0rem  0rem 0rem auto !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1171px) {
  .hero__info {
    margin: auto 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 4rem 0rem 4rem 0rem !important;
  }
  .hero .hero__info h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    font-size: 45px !important;
  }
}

.Apply__section {
  width: 100%;
  height: 100%;
  box-shadow: -1px 0px 30px 0px rgba(226, 226, 226, 0.78);
  padding: 3rem 0rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1023' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1020'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1022'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1017'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1021'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1018'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1019'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1023'%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='30' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='30' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='90' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='90' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='90' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='90' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='150' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='150' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='210' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='210' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='210' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='210' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='270' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='270' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='270' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='270' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='270' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='330' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='330' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='330' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='390' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='390' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='390' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='450' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='450' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='450' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='450' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='450' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='510' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='510' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='510' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='570' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='570' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='570' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='570' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='630' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='630' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='630' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='690' y='30' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='90' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='690' y='150' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='210' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1017' x='690' y='270' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='330' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='390' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='450' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='510' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1018' x='690' y='570' stroke='rgba(243%2c 253%2c 255%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-origin: content-box;
}

.Apply__section .wrapper .hero__img {
  width: 100%;
  height: 100%;
}

.Apply__section .wrapper .hero__img img {
  border-radius: 10px;
  margin: 3rem auto;
}

.Apply__section .wrapper .Apply__section-info {
  padding-top: 3.5rem;
}

.Apply__section .wrapper .Apply__section-info h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  font-size: 35px;
  text-align: center;
  line-height: 43px;
  margin-bottom: 4rem;
}

.Apply__section .wrapper .Apply__section-info .big__btn {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 5px;
  min-width: 120px;
  color: #252326;
  text-align: center;
  box-shadow: 0px 1px 12px 0px #a7a7a7b5;
  cursor: pointer;
  min-width: 200px;
  padding: 20px 20px;
  margin: 2rem auto 0rem auto;
}

.Apply__section .wrapper .Apply__section-info .big__btn:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.Apply__section .wrapper .Apply__section-info .info {
  position: relative;
}

.Apply__section .wrapper .Apply__section-info .info .line {
  position: absolute;
  content: '';
  width: 1px;
  height: 6rem;
  background: #6b6b6b;
  top: 11%;
  left: 5%;
}

.Apply__section .wrapper .Apply__section-info .info .line:nth-child(2) {
  top: 47%;
  left: 5%;
}

.Apply__section .wrapper .Apply__section-info .info .info__section-one {
  margin-bottom: 2rem;
}

.Apply__section .wrapper .Apply__section-info .info .info__section-one .number__box {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 1px 12px 0px rgba(167, 167, 167, 0.71);
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #252326;
  font-weight: 600;
  line-height: 45px;
  margin-right: 20px;
  color: #5f5ff5;
}

.Apply__section .wrapper .Apply__section-info .info .info__section-one h2 {
  font-size: 20px;
  font-weight: normal;
  color: #252326;
  line-height: 50px;
  font-weight: 700;
  line-height: 35px;
}

.Apply__section .wrapper .Apply__section-info .info .info__section-one .paragraph {
  margin: 0.5rem 0rem 0rem 3.5rem;
  font-size: 16px;
  font-weight: bold;
  color: #252326;
  line-height: 25px;
  font-weight: 500;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .hero .hero__img {
    margin-top: 4rem;
  }
  .hero .hero__img img {
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .info .line {
    top: 12% !important;
    left: 3% !important;
  }
  .info .line:nth-child(2) {
    top: 48% !important;
    left: 3% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1171px) {
  .info .line {
    left: 4% !important;
  }
  .info .line:nth-child(2) {
    left: 4% !important;
  }
}

@media screen and (min-width: 1024px) {
  .hero__img img {
    margin: 10rem auto !important;
  }
}

@media screen and (min-width: 1178px) {
  .info .line {
    left: 3.5% !important;
  }
  .info .line:nth-child(2) {
    left: 3.5% !important;
  }
}

.fourth__section {
  height: 100%;
  width: 100%;
  position: relative;
}

.fourth__section img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.1);
}

.fourth__section .wrapper {
  width: 80%;
  height: 100%;
  padding: 7rem 0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fourth__section .wrapper .fourth__section-head {
  padding-top: 3rem;
}

.fourth__section .wrapper .fourth__section-head p {
  color: #c13354 !important;
  font-size: 18px;
  font-weight: normal;
  color: #252326;
}

.fourth__section .wrapper .fourth__section-head h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  font-size: 30px;
  line-height: 43px;
  margin-top: 1rem;
  color: white;
}

.fourth__section .wrapper .fourth__section-body p {
  color: white;
}

.fourth__section .wrapper .fourth__section-body .fa-check-circle {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 500px) {
  .fourth__section img {
    height: 130vh !important;
  }
  .fourth__section-head p {
    font-size: 18px;
    font-weight: normal;
    color: #252326;
    font-size: 18px;
  }
  .fourth__section-head h1 {
    font-size: 25px;
  }
  .fourth__section-body {
    margin-top: 1rem;
  }
  .fourth__section-body p {
    font-size: 16px;
  }
  .fourth__section-body .fa-check-circle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .fourth__section .wrapper {
    padding-top: 8rem;
  }
  .fourth__section .wrapper .fourth__section-head h1 {
    font-size: 40px !important;
    line-height: 50px !important;
  }
}

.about__section {
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  background-image: url("http://quickloans.ancorathemes.com/wp-content/uploads/2017/05/bg-14.jpg?id=373");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0rem;
}

.about__section h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  font-size: 35px;
  text-align: center;
  line-height: 43px;
}

.about__section .about {
  width: 80%;
  height: 100%;
  margin: 4rem auto 0rem auto;
}

.about__section .about .content {
  height: 450px;
  border-radius: 10px;
}

.about__section .wrapper {
  width: 100%;
  height: 100%;
}

.about__section .wrapper .indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  bottom: -30%;
}

.about__section .wrapper .indicator .btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #252326;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.about__section .wrapper .indicator .btn.active {
  width: 45px;
}

footer {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  padding: 4rem 6rem 1.5rem 6rem;
  border-top: 1px solid #ddd;
}

footer .left {
  width: 100%;
  height: 100%;
}

footer .left .mobile-navigations__address h1,
footer .left .mobile-navigations__contact h1 {
  font-size: 16px;
  font-weight: bold;
  color: #252326;
  line-height: 25px;
  margin: 1rem 0rem 0.5rem 0rem;
}

footer .left .mobile-navigations__address p,
footer .left .mobile-navigations__contact p {
  margin-bottom: 0.3rem;
  font-size: 14px;
  font-weight: normal;
  color: #252326;
  line-height: 25px;
}

footer .left .mobile-navigations__address a,
footer .left .mobile-navigations__contact a {
  text-decoration: none;
  color: #c13354 !important;
  font-size: 14px;
  font-weight: normal;
  color: #252326;
  line-height: 25px;
}

footer .left .mobile-navigations__address .tel,
footer .left .mobile-navigations__contact .tel {
  display: flex;
  flex-direction: column;
}

footer .left .mobile-navigations__address .fa-long-arrow-alt-right,
footer .left .mobile-navigations__contact .fa-long-arrow-alt-right {
  vertical-align: middle;
}

footer .left .mobile-navigations__address .break-line,
footer .left .mobile-navigations__contact .break-line {
  display: block;
  width: 35px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin-top: 2rem;
}

footer .right {
  width: 70%;
  height: 100%;
  padding: 2rem;
  background: #000000;
  color: #fff;
}

footer .right p {
  margin-bottom: 1rem;
}

footer .right a {
  font-size: 16px;
  font-weight: bold;
  color: #252326;
  line-height: 25px;
  color: #c13354 !important;
}

footer .footer__bottom {
  border-top: 1px solid #ddd;
  padding-top: 1.5rem;
}

footer .footer__bottom .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #202020;
  box-shadow: 7px 12px 54px -27px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #252326;
  line-height: 28px;
  font-size: 12px;
  margin-right: 14px;
}

footer .footer__bottom .icon:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

footer .footer__bottom p, footer .footer__bottom .year, footer .footer__bottom .terms {
  font-size: 16px;
  font-weight: bold;
  color: #252326;
  line-height: 25px;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  footer {
    padding: 4.5rem 2.5rem 0rem 2.5rem;
  }
  footer .right {
    width: 100%;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */